/*  your css code here. If applicable */
table,td{
	border:1px solid black;
	border-collapse:collapse;
	width:530px;
	margin:1px;
	padding:1px;
}

.centre{
	text-align:center;
}

.rigth{
	text-align:right;
}

td{
	height:20px;
}